.app-container{
min-height: 75vh;
    .loading{
        width: 300px;
        position: relative;
        right: 50%;
        left: 50%;
        padding: 10px;
        transform: translate(-50%);
    }
  
}
.search-input{
        border: none;
       
        height:40px;
        border-radius:10px;
     position: relative;
    padding: 10px;
        margin: 20px 40px;
        &:focus{
            outline: none;
            border-color: #c01c7a;
            box-shadow: 0 0 10px #c01c7a;
        }
    }